{% extends 'base.html.twig' %}

{% block title %}View Event{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: auto;
        max-width: 800px;
        font: 18px/1.5 sans-serif;
        display : flex;
        justify-content : center;
    }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<div class="example-wrapper">
<h1>Details for event &quot;{{ event["Title"] }}&quot;</h1>
</div>

<div class="example-wrapper">
    <div style="border:1px solid black; border-radius:10px; width:50%; box-shadow: 2px 2px black;">
        <div>
        <table style="padding: 10px 10px 10px 10px;">
            {% for key, value in event %}
            <tr>
                <td style="border-right:1px solid black; border-bottom:1px solid black;"><span style="padding-right:10px;">{{ key }}<span></td>
                <td><span style="padding-left:10px;">{{ value }}</span></td>
            </tr>
            {% endfor %}
        </table>
        </div>
    </div>
</div>

<div class="example-wrapper" style="margin-top: 10px;">
    <input type="hidden" id="event_id" name="event_id" value="{{ event_obj.id }}" \>
    <a id="delete_event" name="delete_event" href="{{ path('delete_event', {'id': event_obj.id}) }}">
        <input type="button" value="Delete" \>
    </a>
</div>
{% endblock %}
